<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anabada1"
        tools:targetApi="31">
        <activity
            android:name=".inchat"
            android:exported="false" />
        <activity
            android:name=".customer"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".mypage"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".push"
            android:exported="false" />
        <activity
            android:name=".offer"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".alarm"
            android:exported="false" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".newfragment"
            android:exported="false" />
        <activity
            android:name=".usedfragment"
            android:exported="false" />
        <activity
            android:name=".category"
            android:exported="false" />
        <activity
            android:name=".goods1"
            android:exported="false" />
        <activity
            android:name=".goods2"
            android:exported="false" />
        <activity
            android:name=".goods3"
            android:exported="false" />
        <activity
            android:name=".goods4"
            android:exported="false" />
        <activity
            android:name=".goods5"
            android:exported="false" />
        <activity
            android:name=".goods6"
            android:exported="false" />
        <activity
            android:name=".newgoods1"
            android:exported="false" />
        <activity
            android:name=".newgoods2"
            android:exported="false" />
        <activity
            android:name=".newgoods3"
            android:exported="false" />
        <activity
            android:name=".newgoods4"
            android:exported="false" />
        <activity
            android:name=".newgoods5"
            android:exported="false" />
        <activity
            android:name=".newgoods6"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>